[Unit]
Description= server
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /srv/datalogger_aspersores/server

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target